body{
    background-color:rgb(176, 67, 67);
    border: 10cap;
    font-weight: 1000;

}
H1{
    size: 10000;
}
.Mutton{
    height: 10px;
    margin: 10px;
    width: 10px;
    object-fit:cover;
    border-radius: 50%;
}